@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Permanent+Marker&display=swap');

 /* Extra small devices (phones, 600px and down) */
.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    margin-top: 25px;
}

.timer {
    /* color: #971400; */
    /* color: #000; */
    font-family: 'Merriweather', 'Helvetica Neue';
    letter-spacing: 0.1em;
    font-size: 1.8em;
    text-transform: uppercase;
    padding-top: 43px;
}

.play {
    padding: 43px 14px 0 0;
}

.stop {
    padding: 43px 0 0 14px;
}

.remaining {
    padding: 16px 0 16px 0;
    color: #971400;
    font-size: 0.9em;
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}