@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Permanent+Marker&display=swap');

.focus-group {
    display: flex;
    flex-direction: column;
    padding: 0 14px;
    font-size: 1.2em;
    font-family: 'Merriweather', 'Helvetica Neue';
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

button {
    background-color: transparent;
    border: none;
}

.focus-button {
    display: block;
    padding: 25px;
}

.minus {
    padding-right: 14px;
}

.plus {
    padding-left: 14px;
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .focus-group {
      font-size: 1.4em;
    }
    
   }